:root{
    --primary-color: #ABD373;
    --secondary-color: pink;
    --text-color: black;

}

body{
    font-family: "Rubik", sans-serif;
}

.btn-primary{
    background-color: var(--primary-color);
    border-color: white;
}

.top-bar{
    background-color: var(--primary-color);
    color: white;
}

.top-bar .dropdown-toggle{
    text-decoration: none;
    color: white;
}

.header-middle-bar{
    border-bottom: 1px solid rgba(168, 168, 168, 0.349);
}
.header-middle-bar .phone a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
}

.header-icons{
    list-style: none;
    padding: 0;
    margin: 0;
    color: gray;
}
.nav-link{
    font-size: 15px;
}
    
.nav-link:hover{
    color: var(--primary-color);
    font-size: 16px;
}

.mobile-header img{
    width: 32%;
}

.mobile-header .header-icons{
    list-style: none;
    padding: 0;
    margin-top: -20px;
    color: gray;
}

#hero{
    background-color: rgba(255, 220, 225, 0.336);
}

.hero-text span{
    font-weight: 200;
    font-size: 3.3rem;
    line-height: 75px;
}

.hero-text h2{
    font-weight: 400;
    font-size: 5.2rem;
    line-height: 85px;
    margin-bottom: 15px
} 

.hero-text p{
    font-size: 1.3rem;
    line-height: 20px;
    margin-bottom: 35px;
}
.hero-text .btn-primary{
    border-radius: 25px;
}

.hero-img img{
    /* animation-name: fadeInUp; */
    /* width: 550px; */
}

.hero-img img:hover{
    transform: translate3d(1px, 1px, 1px) rotate(0.0010deg);
}

.feature .row{
    border-radius: 10px;
    border: dotted;
    /* padding: 10px; */
    height: 120px;
    border-color: var(--primary-color);
}
.feature .row span{
    font-size: 4rem;
    color: var(--primary-color);
}

.product-s-title{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.product-s-title h2{
    font-weight: 800;
}

.product-s-title::before{
    content: "";
    width: 4.8rem;
    height: 3.5px;
    position: absolute;
    background-color: var(--primary-color);
    top: 50%;
    left: -5.6rem;
}

.product-s-title::after{
    content: "";
    width: 4.8rem;
    height: 3.5px;
    position: absolute;
    background-color: var(--primary-color);
    top: 50%;
    right: -5.6rem;
}
.nav-pills{
    margin-top: 40px;
    justify-content:center;
}


.nav-item.nav-link:active  {
    color:var(--primary-color);
    border-color: #ABD373;
    border: 2px; 
} 

.nav-item .nav-link{
    color: black;
}
.product-img{
    position: relative;
}

.product-img .secondary-img{
    display: none;
}
.product-img:hover .secondary-img{
    display: block;
}

.product-img:hover .primary-img{
    display: none;
}

.product-img .actions{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
}
.product-img:hover .actions{
    display: block;
}

.product-img .actions .p-btn{
    box-shadow: 0 5px 10px rgba(22, 22, 22, 0.15);
    background-color: #ffffff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-color: white;
    display: inline-flex;
    justify-content: center;
    color: gray;
    align-items: center

}

.product-img .actions .p-btn:hover{
    background-color: var(--primary-color);
    color: white;
    

}

.p-details p{
    color: var(--primary-color);
    font-weight: 600;
}

.desktop{
    display: block;
}

.mobile{
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop{
        display: none;
    }
    
    .mobile{
        display: block;
    }
}